h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.itemGaleria{
    flex: 0 0 calc(33.333% - 200px);
}

.galeriaImagem{
    width: 100%;
    height: 300px;
    transition: 0.4s;
    object-fit: cover;
    cursor: pointer;
}
.galeriaImagem:hover{
    transform: scale(1.1);
}
.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.8);
    z-index: 100;
}
 .conteudoLightbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

 }
.lightboxImage{
    max-width: 800px;
    object-fit: cover;
}
.lightboxFechar{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.1rem 0.3rem;
    cursor: pointer;
    transition: 0.4s;
}
.lightboxFechar:hover{
    background-color: #fff;
    color: #000;
}